name: Code Quality Check

on:
  push:
    branches: [ "main" ]

jobs:
  check-json:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Validate JSON file
        # פקודה שבודקת אם הקובץ הוא JSON תקין
        run: cat app-config.json | jq .