name: Helm and Code Quality

on:
  push:
    branches: [ "main" ]

jobs:
  devops-checks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install Helm
        # שימוש ב-Action מוכן של Azure שמתקין את Helm על השרת
        uses: azure/setup-helm@v3
        with:
          version: 'latest'

      - name: Run Helm Lint
        # הבדיקה החשובה: האם ה-Chart תקין?
        run: helm lint ./my-chart

      - name: Validate Config JSON
        # הבדיקה הקודמת שלנו
        run: jq . app-config.json