name: Helm, Code and Docker Build

on:
  push:
    branches: [ "main" ]

jobs:
  devops-checks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install Helm
        uses: azure/setup-helm@v3

      - name: Run Helm Lint
        run: helm lint ./my-chart

      - name: Validate Config JSON
        run: jq . app-config.json

      # השלב החדש: בניית ה-Image
      - name: Build Docker Image
        run: |
          docker build -t my-first-app:${{ github.sha }} .
          echo "Build completed successfully!"